.opciones {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto 200px;
    background-color: blanchedalmond;
    justify-content: center;
}

.titulo {
    font-size: 50px;
    color:blue 
}

.instruccion {
    font-size: 30px;
    padding: 20px;
    margin: 15px;
    text-align: center;
}

.cargaDeDatos {
    display: flex;
    flex-direction: column;
}